<section class="main-404 section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="page-width text-center">
    <h1 class="main-404__heading h0">404</h1>
    <p class="main-404__text">{{ 'general.404.title' | t }}</p>
    <p>{{ 'general.404.subtext' | t }}</p>
    <a href="{{ routes.root_url }}" class="button button--primary">
      {{ 'general.404.link' | t }}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "404 page",
  "tag": "section",
  "settings": []
}
{% endschema %}
