<section class="rich-text section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="page-width rich-text__wrapper text-{{ section.settings.text_alignment }}">
    {%- if section.settings.heading != blank -%}
      <h2 class="rich-text__heading section-heading">{{ section.settings.heading }}</h2>
    {%- endif -%}
    {%- if section.settings.text != blank -%}
      <div class="rich-text__text rte">{{ section.settings.text }}</div>
    {%- endif -%}
    {%- if section.settings.button_label != blank -%}
      <a href="{{ section.settings.button_link }}" class="button button--primary">
        {{ section.settings.button_label | escape }}
      </a>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "section-rich-text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
